@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main: #ff5a5f;
  --black: #000000;
  --white: #fff;
  --dark-gray: #484848;
  --light-gray: #767676;
  --light-white: #f4f4f4;
  --light-bg: #f7f7f7;
  --green: #69d4a3;
  --blue: #4285f4;
  --header-height: 90px;
  --nav-height: 60px;
  --container-padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

#modal-root {
  position: fixed;
  opacity: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

#modal-root.active {
  opacity: 1;
  background: rgba(0, 0, 0, 0.363);
  pointer-events: all;
}

.App {
  width: 100%;
  height: 100%;
}
