/* Header  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

/* Header */

/* Wrapper */
.wrapper {
  padding-bottom: var(--nav-height);
}
/* Wrapper */
