/* Styles are similar to events but I got too lazy to revamp the styles */

/* Venues Card */
.card {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.image {
  --width: 5.5rem;
  --height: 5.5rem;
  min-width: var(--width);
  max-width: var(--width);
  height: var(--height);
  object-fit: cover;
  border-radius: 5px;
}

.blankImage {
  --width: 5.5rem;
  --height: 5.5rem;
  min-width: var(--width);
  height: var(--height);
  border-radius: 5px;
  background: var(--light-white);
  position: relative;
}

.blankImage::before {
  content: "No Image";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.75rem;
  color: var(--light-gray);
  text-align: center;
}

.body {
  padding: 0.75rem 0.5rem;
  width: 100%;
}

.city {
  color: var(--light-gray);
  font-size: 0.75rem;
  font-weight: normal;
}

.name {
  font-size: 0.9rem;
  padding-bottom: 0.25rem;
  color: var(--black);
}

.upcomingEvents {
  font-size: 0.75rem;
  color: var(--main);
  font-weight: 500;
}
/* Venue Cards */

/* Venue Details */
.detailsContainer {
  padding-bottom: calc(var(--nav-height) + 25px);
}

.detailsImage {
  width: 100%;
  min-height: 10rem;
}

.detailsName {
  font-size: 1.25rem;
  color: var(--black);
}

.detailsContent {
  color: var(--light-gray);
  font-size: 0.85rem;
  line-height: 165%;
  padding: 0.5rem 0;
}

.bottomContainer {
  position: fixed;
  height: var(--nav-height);
  left: 0;
  bottom: var(--nav-height);
  width: 100%;
  background: var(--white);
  box-shadow: 0 -4px 4px 0 #b7b7b73a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  color: var(--dark-gray);
  font-size: 0.9rem;
  font-weight: 500;
}

.btn {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  background: var(--main);
  color: var(--white);
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
}
/* Venue Details */
